
######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
image/