<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="text-center" style="padding-left: 400px; padding-right: 400px;">
    <h3 >Add new a product</h3>
    <div style="margin-bottom: 50px">
        <button class="btn">
        <a href="/logout" style="color: red;">Logout</a>
    </button>
        <button class="btn"><a href="../home">Back to Home</a></button></div>


     <form class="mt-5" action="/upload/empty" method="post" enctype="multipart/form-data">
          <label>Image</label>
          Upload <input type="file" name="fileUpload"/>
          <input type="submit" value="upload">
     </form>
     <div style="text-align: center;">
          <img style="max-width:200px; max-height:200px" src="../{{product.fileName}}" >
     </div>
    </body>
    {{!-- <img src="000.jpg" width="500" height="600"> --}}
    <form class="form-group" style="text-align: center; border: 1px solid beige;" action="/doInsert" method="post">
        <input class="form-control" type="hidden" name="txtFileName" value="{{product.fileName}}">
        <div class="row" style="margin: 30px;"> <b> Code </b> <input class="form-control"  controltype="text" name="txtCode" required/></div>
        <div class="row" style="margin: 30px;"> <b> Name </b><input class="form-control" type="text" name="txtName" required/></div>
        <div class="row p-3 m-3"> <label for="color"> <b> Choose a color </b>:</label>
        <select class="form-control" name="color" id="color">
            <option value="pink" selected>Pink</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
        </select>
         </div>
        <div style="margin: 30px;" class="row"> <b style="min-width: 100px">  Price (VND)</b><input class="form-control" type="number" name="txtPrice" required/></div>
        <div class="row pl-5">
            <b>Description </b>
            <textarea  class="form-control" name="txtDesc" required></textarea></div>
            <div class="m-auto pt-3">
                <button class="btn btn-block" style="background-color: aqua; width: 100px" type="submit" > Save </button>
            </div>
    </form>
</body>
</html>
